<div class="w-chat-tool" id="wChatTooleId[id]Type[type]">
	<div class="w-chat-sign-holder" id="wChatSignHolderId[id]Type[type]">
		<div class="w-chat-sign" id="wChatSignId[id]Type[type]"></div>
	</div>
	<div class="w-chat-tool-bar">
		<div id="wChatButtonBlockId[id]Type[type]" class="w-chat-tool-bar-button" onmouseover="this.className='w-chat-tool-bar-button w-chat-tool-bar-button-hover'" onmouseout="this.className='w-chat-tool-bar-button'">
			<img src="images/chatbuttoncancelblock.gif" style="height:30px;width:29px" title="Send Flash"/>
		</div>
		<div id="wChatButtonHistoryId[id]Type[type]" class="w-chat-tool-bar-button" onmouseover="this.className='w-chat-tool-bar-button w-chat-tool-bar-button-hover'" onmouseout="this.className='w-chat-tool-bar-button'">
			<img src="images/chatbuttonhistory.gif" style="height:30px;width:29px" title="View History"/>
		</div>
	</div>
</div>
<div class="w-chat-main" id="wChatMainId[id]Type[type]">
	<div style="border:1px solid #BED6E0;background-color:#fff">
		<div id="wChatViewId[id]Type[type]" style="height:101px;overflow-x:hidden;overflow-y:auto;word-break:break-all;text-align:left"></div>
	</div>
	<div id="wChatResizeId[id]Type[type]" class="w-chat-resize"></div>
	<div style="border:1px solid #BED6E0;background-color:#fff;overflow:hidden">
		<div class="w-chat-face-button-bar">
			<div id="wChatFaceButtonFaceId[id]Type[type]" class="w-chat-face-button" onmouseover="this.className='w-chat-face-button w-chat-face-button-hover'" onmouseout="this.className='w-chat-face-button'">
				<img src="images/facebuttonface.gif" style="height:24px;width:32px" title="Fantastico"/>
			</div>
			<div id="wChatFaceButtonFlashId[id]Type[type]" class="w-chat-face-button" onmouseover="this.className='w-chat-face-button w-chat-face-button-hover'" onmouseout="this.className='w-chat-face-button'">
				<img src="images/facebuttonflash.gif" style="height:24px;width:32px" title="Send Flash"/>
			</div>
		</div>
		<textarea id="wChatInputId[id]Type[type]" style="height:78px;border:0;width:100%;font-size:12px;overflow:auto"></textarea>
	</div>
	<div style="float:right;padding-top:2px">
		<div style="width:88px">
			<div id="wChatBtnSendId[id]Type[type]" style="float:left;overflow:hidden;height:21px;width:69px" onmouseup="this.scrollTop='21'" onmousedown="this.scrollTop='42'" onmouseover="this.scrollTop='21'" onmouseout="this.scrollTop='0'">
				<img src="images/buttonsendmsg.gif" title="Send Message"/>
			</div>
			<div style="float:left;width:4px;font-size:1px;height:21px"></div>
			<div id="wChatBtnOptionId[id]Type[type]" style="float:left;overflow:hidden;height:21px;width:15px" onmouseup="this.scrollTop='21'" onmousedown="this.scrollTop='42'" onmouseover="this.scrollTop='21'" onmouseout="this.scrollTop='0'">
				<img src="images/buttonsendtype.gif" title="Reply"/>
			</div>
		</div>
	</div>
</div>
<div class="w-chat-side" id="wChatSideId[id]Type[type]">
	<div class="w-chat-user-face" style="top:5px;left:5px">
		<img id="wChatFaceFriendId[id]Type[type]" src="userface/default.gif" style="width:94px;height:94px"/>
	</div>
	<div class="w-chat-user-face" style="bottom:10px;left:5px">
		<img id="wChatFaceMeId[id]Type[type]" src="userface/default.gif" style="width:94px;height:94px"/>
	</div>
</div>
<div class="w-chat-side-bar" id="wChatSideBarId[id]Type[type]">
	<img src="images/chatsidebutton.gif"/>
</div>
<div id="wChatResizeBarId[id]Type[type]" class="w-chat-resize-bar"></div>