<div class="w-main-tool" id="wMainToolId[id]Type[type]">
	<div id="wMainUserInfoId[id]Type[type]" class="w-main-user-info">
		<div class="w-main-user-face-bg">
			<img id="wMainUserFaceId[id]Type[type]" src="userface/default.gif" style="width:47px;height:47px;cursor:pointer" title="View Contact Card" />
		</div>
		<div id="wMainUserInfoRightId[id]Type[type]" class="w-main-user-info-right">
			<div style="width:100%;float:left">
				<div class="w-main-user-name" onmouseover="this.style.backgroundImage='url(images/buttonhoverbg.gif)'" onmouseout="this.style.backgroundImage=''">
					<span id="wMainUserNameId[id]Type[type]">Loading</span>
					<img src="images/arrowdown.gif" style="padding-left:3px"/>
				</div>
			</div>
			<div style="width:100%;float:left">
				<div id="wMainUserSignId[id]Type[type]" class="w-main-user-sign" title="Click To Edit">Loading</div>
			</div>
		</div>
	</div>
	<div id="wMainToolBarId[id]Type[type]" class="w-main-tool-bar">
		<div id="wMainShowFocusId[id]Type[type]" class="w-main-tool-button" onmouseover="this.className='w-main-tool-button w-main-tool-button-hover'" onmouseout="this.className='w-main-tool-button'">
			<img src="images/toolshowfocus.gif" style="height:16px;width:17px" title="Today Focus"/>
		</div>
		<div id="wMainShowHistoryId[id]Type[type]" class="w-main-tool-button" onmouseover="this.className='w-main-tool-button w-main-tool-button-hover'" onmouseout="this.className='w-main-tool-button'">
			<img src="images/toolmsghistory.gif" style="height:16px;width:17px" title="History"/>
		</div>
		<div id="wMainProfileId[id]Type[type]" class="w-main-tool-button" onmouseover="this.className='w-main-tool-button w-main-tool-button-hover'" onmouseout="this.className='w-main-tool-button'">
			<img src="images/toolprofile.gif" style="height:16px;width:17px" title="Edit Profile"/>
		</div>
		<div id="wMainOptionId[id]Type[type]" class="w-main-tool-button" onmouseover="this.className='w-main-tool-button w-main-tool-button-hover'" onmouseout="this.className='w-main-tool-button'">
			<img src="images/tooloption.gif" style="height:16px;width:17px" title="Options"/>
		</div>
		<div id="wMainManageId[id]Type[type]" class="w-main-tool-button" onmouseover="this.className='w-main-tool-button w-main-tool-button-hover'" onmouseout="this.className='w-main-tool-button'" style="display:none">
			<img src="images/toolmanage.gif" style="height:16px;width:17px" title="Advanced"/>
		</div>
	</div>
</div>
<div class="w-main-search-user-pannel">
	<div style="float:left;padding:3px 8px 0 6px" id="wMainSearchUserId[id]Type[type]">
		<input title="Search By Name/Email" id="inputSearchId[id]Type[type]" style="padding-right:15px" class="w-main-search-user-bg" type="text" />
	</div>
	<div style="padding-top:4px">
		<div id="wMainAddFriendId[id]Type[type]" class="w-main-content-button" onmouseover="this.className='w-main-content-button w-main-content-button-hover'" onmouseout="this.className='w-main-content-button'">
			<img src="images/tooladdfriend.gif" style="height:20px;width:20px" title="Add a Contact"/>
		</div>
		<div id="wMainListTypeId[id]Type[type]" class="w-main-content-button" onmouseover="this.className='w-main-content-button w-main-content-button-hover'" onmouseout="this.className='w-main-content-button'">
			<img src="images/toollisttype.gif" style="height:20px;width:20px" title="Sort"/>
		</div>
	</div>
</div>
<div class="w-main-main" id="wMainMainId[id]Type[type]" onselectstart="return false">
	Loading...
</div>
<div class="w-main-search-web-pannel">
	<span style="color:#ccc">Ad</span><br />
	<a class="adlink" href="" target="_blank">Put Ad Here...</a>
</div>
<input type="text" id="txtUserSignId[id]Type[type]" style="position:absolute;top:58px;left:75px;height:14px;width:100px;border:1px solid #7F9DB9;display:none"/>
<img id="imgSearchId[id]Type[type]" style="display:none;position:absolute;top:139px;right:63px;height:8px;width:8px;cursor:pointer" title="Click To Clear" src="images/close.gif" onmouseover="this.src='images/closehover.gif'" onmouseout="this.src='images/close.gif'"/>