<div class="w-other-main" id="wOtherMainId[id]Type[type]">
	<div style="height:25px;height:25px;padding:10px 15px 5px 15px;line-height:150%">
		<input type="text" class="w-main-search-user-bg" style="width:175px" id="divMsgId[id]Type[type]"/>
	</div>
	<div style="height:25px;padding-top:20px;text-align:center">
		<input class="button1" id="btnSelId[id]Type[type]"  value="OK" style="width:60px" type="button" onclick="Elem.Hid('windowCover');WinManage.GetWindow([id],[type]).win.Close($F('divMsgId[id]Type[type]'))"/>&nbsp;&nbsp;
		<input class="button1" value="Cancel" style="width:60px" type="button" onclick="Elem.Hid('windowCover');WinManage.GetWindow([id],[type]).win.Close('')"/>
	<div>
</div>